.media-video{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    object-fit: cover;
}
audio::-webkit-media-controls-enclosure, video::-webkit-media-controls.audio-only [pseudo="-webkit-media-controls-enclosure"] {
   display: none;
}